/* 全局样式变量 */
:root {
  --vs-c-white: #ffffff;
  --vs-c-black: #181818;
}

/* 项目的语义颜色变量 */
:root {
  --color-background: var(--vs-c-white);
  --color-text: var(--vs-c-black);
}

/**
 * 暗色主题的颜色变量设置
 * 将检测用户是否有将系统的主题色设置为暗色
 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vs-c-black);
    --color-text: var(--vs-c-white);
  }
}

/* 基础样式 */
body {
  min-height: 100vh;
  margin: 0;
  /* 字体和element-plus保持一致 */
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--vs-bg-color-page);
}
