body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--el-bg-color-page);
}

#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.placeholder {
  color: var(--el-text-color-placeholder);
}
