// 引入暗黑主题
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

/* 全局样式变量 */
:root {
  --vs-c-white: #ffffff;
  --vs-c-black: #181818;
}

/* 项目的语义颜色变量 */
:root {
  --color-background: var(--vs-c-white);
  --color-text: var(--vs-c-black);
}

/**
 * 暗色主题的颜色变量设置
 * 将检测用户是否有将系统的主题色设置为暗色
 */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vs-c-black);
    --color-text: var(--vs-c-white);
  }
}
